# To separate your traces from other application
LANGSMITH_TRACING_V2=true
LANGSMITH_PROJECT=agentic-code-generation-workflow-jacky

# Add API keys for connecting to LLM providers, data sources, and other integrations here
OPENAI_API_KEY=
LANGSMITH_API_KEY=
